     import(stats, except=c("aov","lm"))
     import(FrF2,DoE.base,lhs,AlgDesign,rsm,DiceDesign)
     export("lhs.design", "lhs.augment", 
            "ccd.design", "ccd.augment", "bbd.design", "Dopt.design", "Dopt.augment",
            "Scalc", "compare", "rsmformula", "code.design", "decode.design")
